* resets **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { 
  /*background: #f0f0f0 url('images/bg.gif'); */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
}

#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

#topbar a:hover {
  opacity: 1;
}

/** typography **/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

a { color: #5a9352; text-decoration: none; }
a:hover { text-decoration: underline; }

.center { display: block; text-align: center; }


/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


#doccontainer {
  display: block;
  width: 100%;
  padding-top: 22px;
  margin-bottom: 10px;
}

#doccontainer img {
  display: block;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
}


#controls {
  display: block;
  padding: 0 35px;
  text-align: center;
}

#controls a {
  font-size: 3.6em;
  font-weight: bold;
}
#controls a:hover {
  text-decoration: none;
  color: #72ad69;
}
#controls a#backpage {
  margin-right: 20px;
}


/*Back and Forward button style*/
.ios-arrow-left {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    left:50px;
    top:50px;    
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : HelveticaNeue;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}
.ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:3.5px;
    height : 24px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;
    border-left : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}

.ios-arrow-right {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    right:50px;
    top:50px;    
    height:30px;
    width:auto;
    padding: 0 6px 0 10px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : HelveticaNeue;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}
.ios-arrow-right:after{
    position:absolute;
    content : ' ';
    right:-7.5px;
    top:3px;
    height : 24px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(255,255,255,0.3)), 
             color-stop(0.5, rgba(255,255,255,0.1)), 
           color-stop(0.5, rgba(0,0,0,0)), 
            to(rgba(0,0,0,0))); 
    -webkit-transform : rotate(135deg) skew(-10deg, -10deg);
    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;
    border-top : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.5) inset,
        -1px 1px 1px rgba(0,0,0,0.4) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}

.ios-arrow-right,
.ios-arrow-right:after,
.ios-arrow-left,
.ios-arrow-left:before {
    background-color: rgba(33,33,33,1);/*normalcolor*/
}

.ios-arrow-right:hover,
.ios-arrow-right:hover:after,
.ios-arrow-left:hover,
.ios-arrow-left:hover:before {
    background-color: rgba(0,0,0,1);/*hovercolor*/
}

/*************************************************